extends layout

block content
    h1 Welcome #{user.reg_number}
    img(src="/images/avatars/#{user.avatar}")
    p Info about you:
        p RegristeringsNummer: #{user.reg_number}
        p Last Name: #{user.last_name}
        p Email: #{user.email}
        p Username: #{user.username}
        p Year of Birth: #{user.birthyear}

    p Friends
    table.user_table
        tr
            th Image
            th Name
        each friend in user.friends
            tr
                td
                    img.avatar-icon(src="/images/avatars/#{friend.avatar}")
                td
                    p #{friend.reg_number} #{friend.last_name}